# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/

# Virtual environments
venv
.venv

# VSCode
.vscode/

# Idea
.idea/

# MacOS
.DS_Store

# Artifacts
out/
